
.user-page {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    width: 100vw; /* Ensure full width */
    color: black;
  
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-top {
    margin-bottom: 20px;
  }
  
  .new-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .new-btn:hover {
    background-color: #45a049;
  }
  
  .whiteboard-list ul {
    list-style-type: none;
    padding: 0;
  }

  .whiteboard {
    padding: 10px;
    background-color: #222;
    border: 1px solid #444;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .whiteboard-actions {
    display: flex;
    gap: 10px; /* Space between the icons */
  }
  
  .edit-icon, .delete-icon {
    cursor: pointer;
    color: white;
  }
  
  .edit-icon:hover {
    color: #4CAF50; /* Green for edit */
  }
  
  .delete-icon:hover {
    color: #ff4d4d; /* Red for delete */
  }
  

  .whiteboard:hover {
    background-color: #333;
  }
  
  .sidebar-bottom {
    border-top: 4px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    width: 50px;  /* Smaller user image */
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info p {
    margin: 0;
    color: white;
  }
  
  .logout-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px;  /* Slightly smaller button */
    cursor: pointer;
    height: 50px;
    align-self: flex-start; /* Align button to the top */
  }
  
  .logout-btn:hover {
    background-color: #ff3333;
  }  
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .error-message {
    color: red;
  }
  